{% extends 'base.html'%}
{% load static %}


{% block content %}
  <div class="container">
    <div class="product-main-----without-css">
      <div class="product-about-----without-css">

        <div class=""> <!-- название продукта -->
          <div class="">
            <h1 class="text">
              {{ product.name }}
            </h1>
          </div>
          <div class="">
            <h5 class="text-right">
              Код товара (ID):  {{ product.id }}
            </h5>
          </div>
        </div>


        <div> <!-- слайдер продукта : все о товаре описание и тд -->
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#about_product" aria-controls="about_product" role="tab" data-toggle="tab">
                  Все о товаре
                </a>
              </li>
              <li role="presentation">
                <a href="#description" aria-controls="description" role="tab" data-toggle="tab">
                  Характеристики
                </a>
              </li>
              <li role="presentation">
                <a href="#products_comments" aria-controls="products_comments" role="tab" data-toggle="tab">
                  Отзывы
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content product-description-tabs">
              <div role="tabpanel" class="tab-pane active" id="about_product">
                <div class="row">

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    {% if product.productimage_set.all|length_is:"1" %}
                      {% for image_item in product.productimage_set.all %}
                        <div class="slider__item">
                          <div class="product-image-item">
                            <img src="{{ image_item.image.url }}" class="img-responsive" />
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <div class="slider">
                        <div class="slider__wrapper">
                          <div class="slider__items">
                              {% for image_item in product.productimage_set.all %}
                                <div class="slider__item">
                                  <div class="product-image-item">
                                    <img src="{{ image_item.image.url }}" class="img-responsive" />
                                  </div>
                                </div>
                              {% endfor %}
                          </div>
                        </div>
                        <a class="slider__control slider__control_prev" href="#" role="button"></a>
                        <a class="slider__control slider__control_next" href="#" role="button"></a>
                      </div>

                    {% endif %}
                  </div>




                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {% if product.discount != 0 %}
                          <div>
                            <div>
                              <h5>
                                <del>{{ product.price }}</del>
                                <span class="tile__price-currency"> ₴ </span>
                              </h5>
                            </div>

                            <div>
                              <h4>Price: {{ product.price_with_discount}} UAH</h4>
                            </div>
                          </div>
                        {% else %}
                          <div>
                            <div class="invisible">
                              <p>Empty space</p>
                            </div>

                            <div>
                              <h4>Price: {{ product.price}} UAH</h4>
                            </div>
                          </div>
                        {% endif %}
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <form class="form-inline" id="form_buying_product" action="{% url 'basket_adding' %}">
                          {% csrf_token %}

                          <div class="form-group">
                            <div class="input-number">
                              <div class="button input-number__minus" onclick="this.nextElementSibling.stepDown()">-</div>
                              <input class="input-number__input" type="number" min="1" max="69" value="1" id="number" readonly class="input-nmb-st">
                              <div class="button input-number__plus" onclick="this.previousElementSibling.stepUp()">+</div>
                            </div>
                          </div>
                          <div class="form-group">
                            {% if product.discount != 0 %}
                              <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                                data-product_id = "{{ product.id }}"
                                data-name = "{{ product.name }}"
                                data-price= "{{ product.price_with_discount}}"
                              >
                                Купить
                              </button>
                            {% else %}
                              <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                                data-product_id = "{{ product.id }}"
                                data-name = "{{ product.name }}"
                                data-price= "{{ product.price }}"
                              >
                                Купить
                              </button>
                            {% endif %}
                          </div>


                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="panel panel-default">
                          <div class="panel-heading"><b>Способы оплаты</b></div>
                          <div class="panel-body">
                            <ul>
                              <li>банковская карта (Visa/Mastercard)</li>
                              <li>наличный/безналичный расчет курьеру при получении товара</li>
                              <li>безналичная оплата с расчетного счета организации</li>
                            </ul>
                          </div>
                        </div>

                        <div class="panel panel-default">
                          <div class="panel-heading"><b>Стоимость доставки</b></div>
                          <div class="panel-body">
                            <ul>
                              <li>Киев и Киевская область - 50грн</li>
                              <li>БЕСПЛАТНАЯ ДОСТАВКА при заказе на 800 грн</li>
                              <li>Забрать из пункта выдачи самостоятельно</li>
                              <li>Другие регионы - необходимо уточнить у нашего менеджера</li>
                              <li>Из Новой Почты - по тарифам перевозчика</li>
                              <li>Курьер Новая почта - по тарифам перевозчика </li>
                            </ul>
                          </div>
                        </div>

                        <div class="panel panel-default">
                          <div class="panel-heading"><b>Гарантия, Качество</b></div>
                          <div class="panel-body">
                            <ul>
                              <li>Мы гарантируем соответствие товара.</li>
                              <li>Обмен/возврат товара надлежащего качества без лишних вопросов в течении 14 дней</li>
                              <li>Официальная гарантия от производителей</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="description">
                <h3>тут должно быть окно с описанием товара, его основных характеристик</h3>
                {{ product.description }}
              </div>
              <div role="tabpanel" class="tab-pane" id="products_comments">
                <h3>тут должно быть окно с отзывами</h3>
              </div>
            </div>

          </div>

        </div>


        <div class="row">
          <div class="col-lg-12">
            <h3>Описание товара:</h3>
            {{ product.description }}
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        Также вас может заинтересовать
      </h1>
      <div>
        {% for product_image  in product_suggestions  %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            {% include 'blog/product_item.html' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}
