{% extends 'base.html'%}
{% load static %}

{% block content %}
  <div class="container-fluid">

    <div class="row">
      <div class="">
        <h1 class="text-center">О создателе</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img src="{% static 'images/about-me.png'%}" class="img-responsive" />
      </div>

      <div class="col-lg-6">
        <p>Зовут Артем. 23 года. Закончил магистратуру КПИ, факультет Радиотехники, технарь.</p>


        <ul>
          <b>Личные качества:</b>
          <li>Упорный</li>
          <li>Целенаправленный</li>
          <li>Ответственный</li>
          <li>Люблю улучшать/оптимизировать что-либо</li>
        </ul>

        <ul>
          <b>Интересы:</b>
          <li>Интересуют компьютерные и технические новшества</li>
          <li>Велосипедные прогулки</li>
          <li>Здоровый образ жизни</li>
          <li>Саморазвитие</li>
        </ul>

        <ul>
          <b>Ожидания:</b>
          <li>Работать в молодой команде</li>
          <li>Усовершенствовать hard / soft skills</li>
          <li>Профессиональный рост</li>
          <li>Получить опыт в перспективной компании</li>
          <li>Работать над интересными проектами</li>
          <li>Достойная заработная плата</li>
        </ul>


      </div>

    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">
          <b><i>Есть желание расти и развиваться в программировании, стать full-stack разработчиком(для начала). Потому что достойная заработная плата, а также есть идеи программ, которые хочу воплотить в жизнь и для которых нужно больше коммерческого опыта программирования. <br>Также хочу познакомиться с новыми интересными людьми, профессионалами своего дела.</i></b>
        </h3>
        <p class="text-center">Мой <a href="https://t.me/GooDviNon">Telegram</a></p>
      </div>
    </div>


  </div>

{% endblock %}
