{% extends 'base.html'%}
{% load static %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Все представленые товары на сайте</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="list-group">
        <a href="#" class="list-group-item active text-center">
          Категории товаров:
        </a>
        <a href="" class="list-group-item">Все товары
          <span class="badge">{{categ_all|length}}</span>
        </a>
        <a href="#" class="list-group-item">
          В зернах
          <span class="badge">{{categ_v_zernah|length}}</span>
        </a>
        <a href="#" class="list-group-item">
          В капсулах
          <span class="badge">{{categ_v_kapsulah|length}}</span>
        </a>
        <a href="#" class="list-group-item">
          В монодозах
          <span class="badge">{{categ_all|length}}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
        <div class="col-lg-12">
      {% for product_image  in categ_all %}
        {% include 'blog/product_item.html' %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
