{% extends 'base.html'%}
{% load static %}


{% block content %}
<!-- <div class="section-top">  -->
<!--   <img src="{% static 'images/kofe-zerna-dymok-meshok.jpg' %}" class="img-responsive" />  -->
<!-- </div>  -->
<div class="section-top">
  <img src="{% static 'images/coffee_home_page.jpg'%}" class="img-responsive" />
</div>
<div class="section section1">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        Новые поступления
      </h1>
      <h3 class="text-center">Всего на сайте представлено {{all_products|length }} товаров</h3>
    </div>
    <div>
      {% for product_image  in all_products_last_add %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% include 'blog/product_item.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>




<div class="section section-delivery">
  <div>
    <img src="{% static 'images/free-shipping.png'%}" class="free-shipping-image" />
  </div>
  <div>
    <h1>Free delivery</h1>
    <h1>for orders over 800 UAH</h1>
  </div>
</div>

<div class="section section2">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        Кофе в зернах (последние обновления в разделе)
      </h1>
    </div>
    <div>
      {% for product_image  in category_kofe_v_zernah_last_add  %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% include 'blog/product_item.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section section3">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        Кофе в капсулах (последние обновления в разделе)
      </h1>
    </div>
    <div>
      {% for product_image in category_kofe_v_kapsulah_last_add  %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% include 'blog/product_item.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section section4">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        Новые поступления
      </h1>
      <h3 class="text-center">Всего на сайте представлено {{all_products|length }} товаров</h3>
    </div>

    <div>
      {% for product_image  in all_products_last_add %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% include 'blog/product_item.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
