{% extends 'base.html'%}
{% load static %}


{% block content %}
<!-- <div class="section-top">  -->
<!--   <img src="{% static 'images/kofe-zerna-dymok-meshok.jpg' %}" class="img-responsive" />  -->
<!-- </div>  -->
<div class="section-top">
  <img src="{% static 'images/coffee_home_page.jpg'%}" class="img-responsive" />
</div>
<div class="section section1">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        Новые поступления
      </h1>
    </div>




    <p> len( {{products_images}} )</p>
    <p> {{products_images|length }} </p>






    <div class="">
      {% for product_image in products_images reversed %}
        <p> {{ product_image.product.id }} </p>
        {% include 'blog/product_item.html' %}
      {% endfor %}
    </div>




  </div>
</div>

<div class="section section-delivery">
  <h3>Free shipping</h3>
  <h2>Всего на сайте представлено {{products_images|length }} товаров</h2>
</div>

<div class="section section2">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        Кофе в зернах
      </h1>
    </div>
    {% for product_image  in products_images_kofe_v_zernah  %}
      {% include 'blog/product_item.html' %}
    {% endfor %}
  </div>
</div>

<div class="section section3">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        Кофе в капсулах
      </h1>
    </div>
    {% for product_image  in products_images_kofe_v_kapsulah  %}
      {% include 'blog/product_item.html' %}
    {% endfor %}
  </div>
</div>

{% endblock %}
