<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="product-item">
    <div class="product-item-space">

      <div>
        <a href="{% url 'product' product_image.product.id %}">
          <img src="{{ product_image.image.url }}" class="product-item-img"/>
        </a>
      </div>

      {% if product_image.product.discount %}
        <div>
          <span class="discount-container"> - {{ product_image.product.discount }} % </span>
        </div>
      {% endif %}

      <div>
        <h4> {{ product_image.product.name }}</h4>
        <p>
          {{ product_image.product.description|truncatechars_html:90 }}
        </p>
      </div>


      <div class="add-to-cart-btn">
        {% if product_image.product.discount %}
          <div class="">
            <div class="">
              <h5>
                <del>{{ product_image.product.price }}</del>
                <span class="tile__price-currency"> ₴ </span>
              </h5>
            </div>
            <div class="">
              <h4>
                {{ product_image.product.price_with_discount}}
                <span class=""> ₴ </span>
              </h4>
            </div>
          </div>
        {% else %}
          <div class="">
            <div class="invisible">
              <p>Empty space</p>
            </div>
            <div class="">
              <h4>
                {{ product_image.product.price}}
                <span class=""> ₴ </span>
              </h4>
            </div>
          </div>
        {% endif %}

        <button class="btn btn-success">
          Добавить в корзину
        </button>
      </div>


    </div>
  </div>
</div>
