{% load static %}
<footer>
  <div>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-2 text-right footer-sides">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"><path fill-rule="evenodd" d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z"></path></svg>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-8">
        <h4 class="text-center">
          Очень хочется высказать слова невероятной благодарности, сказать простое, честное и искреннее спасибо! Очень важно помнить добро, совершенное каждому из нас, именно так мы укрепляем социальные связи!
        </h4>
        <h5 class="text-right">
          <a href="https://t.me/GooDviNon">GooDviNon,</a> основатель компании LaCava. 2020
        </h5>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-2 text-left footer-sides">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"><path fill-rule="evenodd" d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z"></path></svg>
      </div>
    </div>
  </div>
</footer>
