{% load static %}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-top">
  <p class="text-right">Copyright © LaCava 2020  Все права защищены</p>
</nav>
<nav class="navbar navbar-default navbar-main">
  <div class="container" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">LaCava</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/catalog/">Каталог</a></li>
        <li><a href="/about/">About Creator</a></li>

        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Кнопка чисто что б не потерять <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        -->
      </ul>




      <ul class="nav navbar-nav navbar-right">
        {% if products_total_nmb %}
          <li class="">
            <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
              Корзина
              <span class="badge" id="basket_total_nmb">{{ products_total_nmb }}</span>
            </a>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <ul class="list-group">
                    <li class="list-group-item active text-center"><h4>Корзина</h4></li>



                    {% for product_in_basket in products_in_basket %}
                      <li class="busket-list-item">

                          <div class="busket-list-item-left-content">
                            <div class="busket-list-item-left-content-img">
                              <!--
                              id={{ product_in_basket.product.id }}
                              img={{ products_in_basket_img  }}
                              {% for i in products_in_basket_img %}
                                {{i}}
                              {% endfor %}
                              {{ products_in_basket.product_image.image.url }}
                              -->
                              <img src="{{ product_img_url }}" class="basket-image"/>

                              <img src="{% static 'images/no-image-available.jpg'%} " class="basket-image" />
                            </div>

                            <div class="busket-list-item-left-content-text">
                              <div class="">
                                <h4 class="">{{ product_in_basket.product.name }}</h4>
                              </div>
                              <div class="text-right">
                                <h4>
                                  Количество: {{ product_in_basket.nmb }} шт. Сума: {{ product_in_basket.total_price }} UAH
                                </h4>
                              </div>
                            </div>
                          </div>


                          <div class="busket-list-item-right-btn">
                            <a class="glyphicon glyphicon-remove delete-item btn btn-default" aria-hidden="true" data-product_id="{{ product_in_basket.id }}"></a>
                          </div>
                      </li>
                    {% endfor %}





                  </ul>

                  <div class="text-center">
                    <a class="btn btn-default btn-success" href="/checkout/" type="button" >
                      Оформить заказ
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% else %}
          <li class="">
            <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">
              Корзина
              <span class="badge" id="basket_total_nmb"> 0 </span>
            </a>
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="form-inline text-center">
                    <div class="form-group">
                      <h2 class="text-center"><strong>Ваша корзина пуста</strong></h2>
                      <img src="{% static 'images/empty-basket.png'%} " class="empty-basket-image" />
                    </div>
                    <div class="form-group">
                      <h3><strong>Но это никогда не поздно исправить</strong>
                        <img src="{% static 'images/smiling-face.png'%}" />
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
